@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
    --primary-color: #000f71;
    --primary-shades: #00020b;
    --para-color: #80849c;
    --helper-color: #1264fa;
    --white: #ffffff;
    --bg-color: #e6e6eb;
}
.boss{
    margin-top: 90px;
}
.imag{
    position: relative;
}
.txt{
    position: absolute;
    color: var(--white);
    font-family:'Lobster', cursive; 
    padding: 25px;
}
.imag:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.modal-header{
    background-color: var(--helper-color);
    color: var(--white);
}
.modal-header a{
    text-decoration: none;
    color: var(--white);
}
.modal-body{
    background-color: var(--bg-color);
}
.modal-foote{
    background-color: var(--bg-color);
    padding-bottom: 30px;
}

@media (max-width:1680px) {

    .imag {
        position: relative;
        height: 370px;
        width: 250px;
        border-radius: 30px;
    }

    .pack_imag {
        margin-top: 24px;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 382px;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: nowrap;
    }


    .rol {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tx {
        min-width: 17%;
        max-height: 40%;

    }

.tx p {
        font-size: 2.5rem;
    }
}

@media (max-width:1250px) {

    .imag {
        height: 370px;
        width: 283px;
        border-radius: 30px;
    }

    .rol {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tx {
        min-width: 20%;
        max-height: 30%;
    }

    .tx p {
        font-size: 40px;
    }

    .pack_imag {
        margin-top: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 382px;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: nowrap;
    }

    .pack_imag::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width:1023px) {

    .imag {
        height: 370px;
        width: 283px;
        border-radius: 30px;
    }

    .rol {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tx {
        min-width: 20%;
        max-height: 30%;
    }

    .tx p {
        font-size: 30px;
    }

    .pack_imag {
        margin-top: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 382px;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: nowrap;
    }

    .pack_imag::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width:800px) {

    .imag {
        height: 370px;
        width: 283px;
        border-radius: 30px;
    }

    .rol {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tx {
        min-width: 20%;
        max-height: 30%;
    }

    .tx p {
        font-size: 20px;
    }

    .pack_imag {
        margin-top: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 382px;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: nowrap;
    }

    .pack_imag::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width:500px) {

    .imag {
        height: 370px;
        width: 283px;
        border-radius: 30px;
    }

    .rol {

        align-items: center;
    }

    .tx {
        min-width: 25%;
        max-height: 50%;
    }

    .tx p {
        font-size: 15px;
    }

    .pack_imag {
        margin-top: 24px;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 382px;
        gap: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        flex-wrap: nowrap;
    }

    .pack_imag::-webkit-scrollbar {
        display: none;
    }

}
