/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* letter-spacing: 1px; */
}
html{
    overflow-x: hidden;
}
:root {
  --primary-color: #000f71;
  --primary-shades: #00020b;
  --para-color: #80849c;
  --helper-color: #0327c6;
  --white: #fff;
  --bg-color: #e6e6eb;
}
body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}

/* h4{
  padding-top: 5rem;
  font-size: 2rem;
}
.soc-ico{
  height: 2rem;
  width: 2rem;
  color: var(--primary-color);
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
  
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
} */

/* 980px */
